<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PivotReporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cnsetting" connectionString="server=.\SQLSVR2012;database=MS_RSSM;uid=sa;pwd=p455w0rd.;Application Name=MEDINFRAS_PIVOT" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <PivotReporting.Properties.Settings>
      <setting name="IsAutoLoadViewer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsAutoDataCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultExportPath" serializeAs="String">
        <value></value>
      </setting>
    </PivotReporting.Properties.Settings>
  </userSettings>
</configuration>
